/* ----------BASIC - colors---------- */
$greenBG: #3c8071;
$black: #000000;
$lightBeige: #c4fff2;

.nav {
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  background-color: $greenBG;
  height: 96px;
  font-size: 18px;
  &__link {
    text-decoration: none;
    color: $lightBeige;
    &::before {
      content: "<";
      display: inline-block;
      padding: 0 10px;
    }
  }
}

.profile {
  background: $lightBeige;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
}

.profile-box {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px dashed $greenBG;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  &__image {
    width: 100px;
    height: 100px;
    background-color: $greenBG;
  }
  &__item {
    padding-left: 4px;
    font-weight: 400;
    display: inline-block;
  }
}
