@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

/* ----------BASIC - colors---------- */
$greenBG: #3c8071;
$black: #000000;
$lightBeige: #c4fff2;

/* ----------BASIC - body & main---------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*body*/
.body {
  color: $black;
  font-family: "Quicksand", sans-serif;
}

/*main*/
.main {
  background: $greenBG;
}

/* ----------HEADER---------- */
/*header*/
.header {
  text-align: center;
  color: $lightBeige;
  width: 100%;
  margin: 0;
  padding: 0;
  &__title {
    font-size: 30px;
    margin: 0 auto;
    padding: 12px 4px 0;
  }
  &__description {
    font-size: 16px;
    margin: 0 auto;
    padding: 14px 4px 18px 4px;
    font-style: italic;
  }
}

/* ----------FORM---------- */
/*form*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $lightBeige;
  margin: 0;
  padding: 0;
}

.form-item {
  padding: 0;
  width: 300px;
  margin: 10px 0 0 0;
  border: 2px dashed $greenBG;
  &__inputFrame {
    margin: 16px;
    padding: 0;
  }
  &__label {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    display: block;
    padding: 0 0 4px 0;
    color: $greenBG;
  }
  &__input {
    font-size: 14px;
    margin: 0;
    padding: 1px;
    border: none;
    width: 100%;
    color: $greenBG;
    height: 24px;
    &::-webkit-file-upload-button {
      display: block;
      border: none;
      background: $greenBG;
      color: $lightBeige;
      font-size: 14px;
      margin: 0;
      padding: 4px;
      width: 100%;
    }
    &--select {
      background: $greenBG;
      color: $lightBeige;
    }
    &--textarea {
      height: 186px;
      resize: none;
    }
  }
  &__input[type="submit"] {
    display: block;
    border: none;
    background: $greenBG;
    color: $lightBeige;
    font-size: 14px;
    margin: 0;
    padding: 4px;
    width: 100%;
  }
}
