/* ----------BASIC - colors---------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
.nav {
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  background-color: #3c8071;
  height: 96px;
  font-size: 18px; }
  .nav__link {
    text-decoration: none;
    color: #c4fff2; }
    .nav__link::before {
      content: "<";
      display: inline-block;
      padding: 0 10px; }

.profile {
  background: #c4fff2;
  padding: 10px;
  font-family: "Quicksand", sans-serif; }

.profile-box {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #3c8071;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center; }
  .profile-box__image {
    width: 100px;
    height: 100px;
    background-color: #3c8071; }
  .profile-box__item {
    padding-left: 4px;
    font-weight: 400;
    display: inline-block; }

/* ----------BASIC - colors---------- */
/* ----------BASIC - body & main---------- */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*body*/
.body {
  color: #000000;
  font-family: "Quicksand", sans-serif; }

/*main*/
.main {
  background: #3c8071; }

/* ----------HEADER---------- */
/*header*/
.header {
  text-align: center;
  color: #c4fff2;
  width: 100%;
  margin: 0;
  padding: 0; }
  .header__title {
    font-size: 30px;
    margin: 0 auto;
    padding: 12px 4px 0; }
  .header__description {
    font-size: 16px;
    margin: 0 auto;
    padding: 14px 4px 18px 4px;
    font-style: italic; }

/* ----------FORM---------- */
/*form*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #c4fff2;
  margin: 0;
  padding: 0; }

#accept {
  width: 12px;
  height: 12px; }

.form-item {
  padding: 0;
  width: 300px;
  margin: 10px 0 0 0;
  border: 2px dashed #3c8071; }
  .form-item__inputFrame {
    margin: 16px;
    padding: 0; }
  .form-item__label {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    display: block;
    padding: 0 0 4px 0;
    color: #3c8071; }
  .form-item__input {
    font-size: 14px;
    margin: 0;
    padding: 1px;
    border: none;
    width: 100%;
    color: #3c8071;
    height: 24px; }
    .form-item__input::-webkit-file-upload-button {
      display: block;
      border: none;
      background: #3c8071;
      color: #c4fff2;
      font-size: 14px;
      margin: 0;
      padding: 4px;
      width: 100%; }
    .form-item__input--select {
      background: #3c8071;
      color: #c4fff2; }
    .form-item__input--textarea {
      height: 186px;
      resize: none; }
  .form-item__input[type="submit"] {
    display: block;
    border: none;
    background: #3c8071;
    color: #c4fff2;
    font-size: 14px;
    margin: 0;
    padding: 4px;
    width: 100%; }
