/* ----------BASIC---------- */
/*RESET-m.korsan idea*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*body*/
.body {
  background: #366780;
  color: #000000;
  font-family: "Work Sans", sans-serif;
}

/*main*/
.main {
  width: 100%;
}

/* ----------HEADER---------- */
/*header*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #366780;
  color: #ffdfb8;
  width: 100%;
  &__title {
    font-size: 40px;
  }
  &__description {
    font-size: 16px;
  }
}

/* ----------FORM---------- */
/*form*/
.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  &__description {
    font-size: 16px;
    margin: 0;
  }
  &__label {
    margin-left: 10px;
    display: block;
    padding-bottom: 4px;
  }
  &__input {
    font-size: 16px;
    margin-left: 5px;
    height: 24px;
  }
  &__select {
    font-size: 16px;
    margin-left: 5px;
    height: 24px;
  }
  &__textarea {
    font-size: 16px;
    margin-left: 5px;
    height: 186px;
    width: 196px;
  }
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffdfb8;
  &__box {
    border: 2px dashed #366780;
    padding: 5px;
    width: 230px;
    height: 265px;
    margin: 10px;
  }
  &__image {
    animation: rotate 1s ease-in-out infinite alternate;
    width: 150px;
    height: 150px;
    margin: 5px;

  }
}

@keyframes rotate {
  from {
    transform: scale(1);

  }
  to {
    transform: scale(1.04);

  }
}
