/*main*/
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Calibri', serif;
    min-height: 100vh;
    flex-direction: column;
    background: #7EB3CC;
    color: #FFDFB8;
}

/*headers*/
.form__title-h1{
    font-size: 40px;
}
.form__title-h2{
    font-size: 34px;
    margin-bottom: 10px;
}

/*list*/
.form__list-element{
    font-size: 28px;
    padding: 20px;
    margin-bottom: 20px;
    background: #366780;
    color: white;
    border-radius: 100px;
    text-align: center;
}
/*pictures*/
.form__picture{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: solid 5px #FFDFB8;
}



.form__form{

    max-width: 500px;
}
.form__description{
color: #806442;
font-size: 24px;
}


/* colorki:
#FFDFB8 - jasny brąz
#806442 - ciemy brąz
#366780 - ciemny niebieski
#7EB3CC - jasny niebieski
*/