/*main*/
.form{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    background: #7EB3CC;
    color: #FFDFB8;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 24px;
    padding: 0 30px;
}

/*headers*/
.form__header{
    display: flex;
}
.form__title-h2{
    margin-bottom: 10px;
}

/*picture*/
.form__picture{
    width: 200px;
    height: 200px;

}

/*others*/
.form__description{
color: #806442;

}

.form__input{
    text-align: right;
}
.form__label{
    align-items: flex-start;
}
    


/* colorki:
#FFDFB8 - jasny brąz
#806442 - ciemy brąz
#366780 - ciemny niebieski
#7EB3CC - jasny niebieski
*/