/*main*/
.form {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  background: #7eb3cc;
  max-width: 1000px;
  margin: 0 auto;
  border-left: 10px solid #ffdfb8;
  border-right: 10px solid #ffdfb8;
}

/*header*/
.form__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #366780;
  color: #ffdfb8;
  padding: 20px;
}
.form__picture {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  box-shadow: -5px 8px 4px 0px rgba(0, 0, 0, 0.4);
  margin: 10px;
}
.form__title-h1 {
  font-size: 40px;
  text-shadow: 2px 2px 3px rgb(48, 42, 42);
}

/*form*/
.form__form {
  margin: 0 20px;
  font-size: 25px;
  color: #366780;
}
.form__title-h2 {
  font-size: 35px;
  color: #ffdfb8;
  text-shadow: 2px 2px 3px rgb(48, 42, 42);
}
.form__description {
  margin: 10px 0;
}
.form__fieldset .form__label {
  display: inline;
}
.form__fieldset .form__input {
  width: 10%;
}
.form__label {
  display: block;
  margin: 4px 0;
  font-weight: bold;
}
.form__select,
.form__textarea,
.form__input {
  color: #ffdfb8;
  background: #806442;
  border: 1px solid #ffdfb8;
  margin-bottom: 10px;
  padding: 10px;
  text-shadow: 2px 2px 3px rgb(48, 42, 42);
  border-radius: 6px;
  width: 300px;
}
.form__input--send {
  width: 100%;
  cursor: pointer;
}
.form__input--file {
  width: 400px;
  cursor: pointer;
}
.form__textarea {
  display: block;
  height: 200px;
  width: 90%;
}

/*::*/
::placeholder {
  color: #ffdfb8;
  opacity: 40%;
}

/*range*/

.form__range {
  width: 100%;
}
.form__range[type="range"] {
  -webkit-appearance: none;
  background-color: #806442;
  height: 80px;
  border: 1px solid #ffdfb8;
  border-radius: 6px;
}
.form__range[type="range"]::-webkit-slider-thumb {
  width: 60px;
  -webkit-appearance: none;
  height: 60px;
  cursor: pointer;
  background-color: #ffdfb8;
  border-radius: 100%;
  padding: 4px;
}
/* colorki:
#FFDFB8 - jasny brąz
#806442 - ciemy brąz
#366780 - ciemny niebieski
#7EB3CC - jasny niebieski
*/
